.header {
  background: linear-gradient(-90deg, rgba(0, 89, 138, 9) 0%, rgba(4, 200, 148, 9) 100%);
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
}

.email_field {
  align-items: center;
  display: flex;
  font-weight: 700;
  margin-left: 10px;
}

.total_field {
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: space-evenly;
  margin-right: 10px;
}
